@import 'normalize.css';

#blueLineIllustration {
  padding: 2em;
  position: relative;
}

#blueLineIllustration::after {
  position: absolute;
  content: '';
  top: var(--sectionTop, 105px);
  left: 2rem;

  width: 0;
  height: var(--sectionHeight, 100%);

  border-left: solid 4px #bce7f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle-num {
  padding: 10px;
  margin: 0;

  font-size: 18px;
  font-weight: 900;
  text-align: center;

  width: 24px;
  height: 24px;

  color: #000;
  background: #fff;

  border: 5px solid #72cef0;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  flex-shrink: 0;
  z-index: 1;
}

.single-illustration__wrapper {
  position: relative;
  min-height: 100px;
  height: 100%;
}

.single-illustration__num-block p {
  margin: 0;
}

.circle-num__container {
  position: relative;
  width: 50px;
  height: 64px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
}

/* position of text relative to circle num */
.single-illustration__num-block {
  display: flex;
  align-items: center;
}

/* position of circle along vertical line */
.circle-num {
  position: absolute;
  left: -50%;
}

@media (min-width: 778px) {
  #blueLineIllustration::after {
    left: 50%;
  }

  .single-illustration__wrapper {
    min-height: 75px;
  }

  .single-illustration__num-block {
    position: absolute;
    left: 50%;
  }

  .circle-num {
    left: 20%;
  }

  .circle-num__container {
    width: 90px;
  }

  .single-illustration__wrapper:nth-child(even)
    .single-illustration__num-block {
    flex-direction: row-reverse;
    left: initial;
    right: 50%;
    text-align: right;
  }
}
